@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: roboto, sans-serif;
}

#global-header {
  background-color: gray;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#viewport {
  border: 1px solid red;
  width: 400px;
  height: 400px;
  overflow-y: scroll;
}
.task-dialog {
  width: 50%;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 1000;
}

.done {
  background-color: green;
}

body.dark-mode {
  background: #222;
  color: #eee;
}
#global-header.dark-mode {
  background-color: #333;
}
#viewport.dark-mode {
  border-color: #444;
  background: #222;
}
.done.dark-mode {
  background-color: #005500;
}

body,
#global-header,
#viewport {
  transition: background 0.3s, color 0.3s, border-color 0.3s;
}

ul {
  list-style-type: none;
}
