#global-header {
  background-color: gray;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#viewport {
  border: 1px solid red;
  width: 400px;
  height: 400px;
}
.task-dialog {
  width: 50%;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 1000;
}

.done {
  background-color: green;
}
